<div style="background-color: lightblue; display: flex; justify-content: flex-end; align-items: center; padding: 10px;">
  <ul style="list-style: none; display: flex; gap: 20px; margin-right: auto;">
    <li routerLink="/login" routerLinkActive="active" style="padding: 5px 10px; font-size: 16px;">login</li>
    <li routerLink="/dashboard" routerLinkActive="active" style="padding: 5px 10px; font-size: 16px;">dashboard</li>
  </ul>
  <button (click)="logOut()" style="padding: 5px 10px; font-size: 16px;">LogOut</button>
</div>
